#About_Wrapper {
  border: 30vh solid transparent;
  border-top: 30vh solid #343434;
}

.About {
  border: 30vh solid transparent;
  border-top: 30vh solid #343434;

  display: flex;
  flex-direction: column;
  background-color: #343434;
  height: 100%;
  box-shadow: 0px 0px 50px 10px #343434;
}
.About > h1 {
  position: absolute;
  top: -60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
