div.HomePage {
  height: 100vh;
  width: 100vw;
  background-color: #343434;
  display: flex;
  justify-content: space-evenly;
}

.LeftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
.LeftSide > .HomePageText {
  color: white;
  font-size: 10vh;
  letter-spacing: 3px;
}
.HomePageBtn {
  font-size: 20px;
  padding: 10px 40px;
  margin-top: 50px;
  background-color: white;
  border: 2px solid black;
  position: relative;
  transition: linear 0.1s;
}

.HomePageBtn > p,
i {
  color: black;
}

.HomePageBtn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 33px 9px rgba(0, 0, 0, 0.36);
  cursor: pointer;
}
.RightSide {
  flex-basis: 40%;
  background-image: url(../img/Homepageimg.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 80%;
}
