* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gemunu Libre", sans-serif;
  list-style-type: none;
  color: white;
}
html {
  background-color: white;
  overflow-x: hidden;
}

.Wrapper {
  display: flex;
  flex-direction: column;
}
.HomePage_Wrapper {
  height: 100vh;
}
#About_Wrapper {
  height: 200vh;
}
